<div>
	<form class="example-form" [formGroup]="componentForm">
		<div>
			<div>
				<mat-form-field class="example-full-width"> <input
					type="text" placeholder="Pick one" aria-label="Number" matInput
					formControlName="companySite" [matAutocomplete]="auto"> <mat-autocomplete
					autoActiveFirstOption #auto="matAutocomplete"
					[displayWith]="displayTitle"> <mat-option
					*ngFor="let option of companySiteOptions | async" [value]="option">
				{{option.title}} </mat-option> </mat-autocomplete> </mat-form-field>
			</div>
			<div>
				<mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="10"
					min="1970" max="2020" formControlName="sliderYear"></mat-slider>
			</div>
		</div>
	</form>
</div>
